apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ecommerce
  name: api-gateway
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      automountServiceAccountToken: false
      containers:
      - name: api-gateway
        image: pablofpp/api-gateway:0.1.0
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: "150m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "600Mi"
        
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms64m -Xmx300m -XX:MaxRAMPercentage=50"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin.ecommerce.svc.cluster.local:9411"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://cloud-config.ecommerce.svc.cluster.local:9296/"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-discovery.ecommerce.svc.cluster.local:8761/eureka/"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "api-gateway"
        
        readinessProbe:
          httpGet:
            path: /api-gateway/actuator/health
            port: 8080
          initialDelaySeconds: 180
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 8
        
        livenessProbe:
          httpGet:
            path: /api-gateway/actuator/health
            port: 8080
          initialDelaySeconds: 240
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 5
      
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  namespace: ecommerce
  name: api-gateway
spec:
  selector:
    app: api-gateway
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  type: LoadBalancer