apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ecommerce
  name: cloud-config
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: cloud-config
  template:
    metadata:
      labels:
        app: cloud-config
    spec:
      automountServiceAccountToken: false
      containers:
      - name: cloud-config
        image: selimhorri/cloud-config-ecommerce-boot:0.1.0
        ports:
        - containerPort: 9296
          protocol: TCP
        
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin.ecommerce.svc.cluster.local:9411"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-discovery.ecommerce.svc.cluster.local:8761/eureka/"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "cloud-config"
        
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 9296
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 5
          failureThreshold: 8
        
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 9296
          initialDelaySeconds: 180
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 5
      
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  namespace: ecommerce
  name: cloud-config
spec:
  selector:
    app: cloud-config
  ports:
  - name: http
    port: 9296
    targetPort: 9296
    protocol: TCP
  type: ClusterIP