apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ecommerce
  name: service-discovery
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: service-discovery
  template:
    metadata:
      labels:
        app: service-discovery
    spec:
      automountServiceAccountToken: false
      containers:
      - name: service-discovery
        image: pablofpp/service-discovery:0.1.0
        ports:
        - containerPort: 8761
          protocol: TCP
        resources:
          requests:
            cpu: "150m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "local"
        - name: JAVA_TOOL_OPTIONS
          value: "-Xms64m -Xmx256m -XX:MaxRAMPercentage=50"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin.ecommerce.svc.cluster.local:9411"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        - name: EUREKA_CLIENT_REGISTER_WITH_EUREKA
          value: "false"
        - name: EUREKA_CLIENT_FETCH_REGISTRY
          value: "false"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "service-discovery"
        
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8761
          initialDelaySeconds: 150
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 8
        
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8761
          initialDelaySeconds: 210
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 5
      
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  namespace: ecommerce
  name: service-discovery
spec:
  selector:
    app: service-discovery
  ports:
  - name: http
    port: 8761
    targetPort: 8761
    protocol: TCP
  type: ClusterIP
