apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: ecommerce
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      automountServiceAccountToken: false
      containers:
      - name: product-service
        image: selimhorri/product-service-ecommerce-boot:0.1.0
        ports:
        - containerPort: 8500
          protocol: TCP
        
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "dev"
        - name: SPRING_ZIPKIN_BASE_URL
          value: "http://zipkin.ecommerce.svc.cluster.local:9411"
        - name: SPRING_CONFIG_IMPORT
          value: "optional:configserver:http://cloud-config.ecommerce.svc.cluster.local:9296/"
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://service-discovery.ecommerce.svc.cluster.local:8761/eureka/"
        - name: EUREKA_INSTANCE_PREFER_IP_ADDRESS
          value: "true"
        - name: EUREKA_INSTANCE_HOSTNAME
          value: "product-service"
        
        resources:
          requests:
            memory: "384Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "300m"
        
        readinessProbe:
          httpGet:
            path: /product-service/actuator/health
            port: 8500
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 3
          failureThreshold: 6
        
        livenessProbe:
          httpGet:
            path: /product-service/actuator/health
            port: 8500
          initialDelaySeconds: 150
          periodSeconds: 30
          timeoutSeconds: 3
          failureThreshold: 3
      
      restartPolicy: Always

---
apiVersion: v1
kind: Service
metadata:
  namespace: ecommerce
  name: product-service
spec:
  selector:
    app: product-service
  ports:
  - name: http
    port: 8500
    targetPort: 8500
    protocol: TCP
  type: ClusterIP
