name: All Services Dev Push

on:
  push:
    branches: [ develop ]

env:
  SPRING_PROFILES_ACTIVE: dev
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  PROJECT_VERSION: ${{ secrets.PROJECT_VERSION }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - cloud-config
          - service-discovery
          - api-gateway
          - user-service
          - product-service
          - order-service
          - payment-service
          - shipping-service
          - favourite-service
          - proxy-client
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      
      - name: Build with Maven
        run: mvn -B package --file pom.xml
        env:
          SPRING_PROFILES_ACTIVE: dev
      
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      
      - name: Build Docker image
        run: |
          docker build -f ${{ matrix.service }}/Dockerfile \
            -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}-ecommerce-boot:${{ secrets.PROJECT_VERSION }}dev .
      
      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}-ecommerce-boot:${{ secrets.PROJECT_VERSION }}dev

